---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort((a, b) => {
  const dateA = a.data.pubDate ? new Date(a.data.pubDate).valueOf() : 0;
  const dateB = b.data.pubDate ? new Date(b.data.pubDate).valueOf() : 0;
  return dateA - dateB;
});
---

<Layout title="Blog">
  <section>
    <h1 class="pb-10 text-center text-4xl sm:pb-20">
      Some articles about our passion
    </h1>
    <ul class="mx-auto max-w-4xl space-y-4 p-10">
      {
        posts.map((post) => (
          <li class="flex flex-col justify-between border-t-[1px] pt-2 sm:flex-row">
            <a
              href={`/blog/${post.slug}/`}
              class="flex-grow hover:underline sm:flex-grow-0"
            >
              {post.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
