---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/ContactForm.astro';
import FeedbackForm from '../components/FeedbackForm';
---

<Layout title="">
  <main>
    <!-- <ContactForm /> -->
    <FeedbackForm />
  </main>
</Layout>
