---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import FeedbackForm from '../components/FeedbackForm';
---

<Layout title="">
  <main>
    <FeedbackForm />
  </main>
</Layout>
