---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="">
  <main>
    <Contact />
  </main>
</Layout>
