---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
import Form from '../components/Form.svelte';
---

<Layout title="">
  <main>
    <Contact />
    <Form />
  </main>
</Layout>
