---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Reviews from "../components/Reviews.astro";
import FAQs from "../components/FAQs.astro";
import CTA from "../components/CTA.astro";
---

<Layout title="">
  <main>
    <Hero />
    <Features />
    <Reviews />
    <CTA />
    <FAQs />
  </main>
</Layout>
