---
import Layout from '../layouts/Layout.astro';
import InstagramFeed from '../components/InstagramFeed.astro';
export const prerender = true;
---

<Layout title="">
  <main>
    <h1>Welcome to <span class="text-gradient">Flavia's Sweets</span></h1>
    <InstagramFeed />
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
