---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import InstagramGrid from '../components/InstagramPostsGrid.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="">
  <main>
    <Hero />
    <InstagramGrid />
  </main>
</Layout>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
</style>
