---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
import InstagramGrid from '../components/InstagramPostsGrid.astro';
import Hero from '../components/Hero.astro';
import Solutions from '../components/Solutions.astro';
import Benefits from '../components/Benefits.astro';
---

<Layout title="">
  <main>
    <Hero />
    <Solutions />
    <Benefits />
  </main>
</Layout>
