---
export const prerender = true;

import Layout from '@layouts/Layout.astro';
import Hero from '@components/Hero.astro';
import Features from '@components/Features';
import Reviews from '@components/Reviews';
---

<Layout title="">
  <main>
    <Hero />
    <Features />
    <Reviews />
  </main>
</Layout>
