---
import { Icon } from 'astro-icon';

type BenefitItem = {
  title: string;
  text: string;
  icon: string;
  children?: BenefitItem[];
};

const benefitItems: BenefitItem[] = [
  {
    title: 'Customization',
    text: 'Saves you time',
    icon: 'ic:round-check',
  },
  {
    title: 'High-quality ingredients',
    text: 'Saves you money',
    icon: 'ic:round-check',
  },
  {
    title: 'Convenient delivery options',
    text: 'Saves your party',
    icon: 'ic:round-check',
  },
];
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p
        class="mb-8 text-4xl font-bold leading-none tracking-tighter lg:text-5xl">
        Everything you need to deploy your app
      </p>
      <p class="mb-2 text-base leading-relaxed text-left">
        Quis tellus eget adipiscing convallis sit sit eget aliquet quis.
        Suspendisse eget egestas a elementum pulvinar et feugiat blandit at. In
        mi viverra elit nunc.
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        {
          benefitItems.map((item) => (
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-pink-500">
                  <Icon name={item.icon} class="h-6 w-6 text-white" />
                </div>
                {item.title}
              </dt>
              <dd class="mb-2 text-base leading-relaxed text-left">
                {item.text}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
