---
import { Icon } from 'astro-icon';

type BenefitItem = {
  title: string;
  text: string;
  icon: string;
  children?: BenefitItem[];
};

const benefitItems: BenefitItem[] = [
  {
    title: 'Customization',
    text: 'With our personalized custom design service, you can create a stunning cake that perfectly reflects your style and vision, making your event truly unforgettable.',
    icon: 'heroicons:adjustments-vertical',
  },
  {
    title: 'High-quality ingredients',
    text: 'Taste the difference that our high-quality ingredients make - our cakes are moist, flavorful, and irresistibly delicious',
    icon: 'mdi:seal-varit',
  },
  {
    title: 'Convenient delivery options',
    text: 'Relax and enjoy your event, while we take care of delivering your cake right to your doorstep, with our reliable and convenient delivery service.',
    icon: 'iconoir:delivery-truck',
  },
];
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <p
        class="mb-8 text-4xl font-bold leading-none tracking-tighter lg:text-5xl">
        Indulgence Redefined: The Perks of Our Cake Experience
      </p>
      <p class="mb-2 text-base leading-relaxed text-left">
        We are passionate about creating cakes that are tailored to your unique
        tastes and preferences. Whether you are looking for a classic cake or a
        modern creation, we work closely with our customers to bring their
        vision to life. Our cakes are made with the finest ingredients, giving
        them a taste that is simply irresistible. Our happy customers rave about
        our cakes, and we are confident that you will too!
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        {
          benefitItems.map((item) => (
            <div class="relative pl-16">
              <dt class="text-base font-semibold leading-7 text-gray-900">
                <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-pink-500">
                  <Icon name={item.icon} class="h-6 w-6 text-white" />
                </div>
                {item.title}
              </dt>
              <dd class="mb-2 text-base leading-relaxed text-left">
                {item.text}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
