<div
  class="container flex flex-col items-start justify-between gap-12 px-10 py-20 bg-neutral-200 lg:items-center lg:flex-row"
>
  <div>
    <h1 class="text-4xl font-bold text-slate-900 xl:text-5xl">
      Ready to make a cake? <br />
       Let's talk.
    </h1>
  </div>
  <div>
    <a href="">
      <button
        class="w-full px-4 py-3 font-medium text-white uppercase transition duration-150 ease-in-out bg-pink-400 rounded shadow-md text-md hover:bg-primary-600 focus:outline-none active:bg-pink-700"
      >
        Let's Bake a cake!
      </button>
    </a>
  </div>
</div>
