---
import Cake from "../assets/icons/Cake.astro";

const features = [
  {
    name: "Customizable Cake Creations",
    description:
      "Personalize your cake with our easy customization options. Perfect for any occasion and taste preference.",
  },
  {
    name: "User-Friendly Online Ordering System",
    description:
      "Effortless ordering with our straightforward online system. A hassle-free way to get your dream cake.",
  },
  {
    name: "Gallery of Inspirational Designs",
    description:
      "Explore our gallery for cake design inspiration. A showcase of our diverse and creative baking artistry.",
  },
];
---

<section class="bg-neutral-200">
  <div
    class="grid grid-cols-1 gap-10 px-10 mx-auto mb-32 justify-items-center max-w-7xl py-28 sm:grid-cols-3"
  >
    {
      features.map((feature) => (
        <div class="flex flex-col items-center justify-center my-2 text-center">
          <Cake class="w-5 h-5 mb-2 text-pink-400" />
          <div class="text-lg font-semibold text-gray-900">{feature.name}</div>
          <div>{feature.description}</div>
        </div>
      ))
    }
  </div>
</section>
