---
const currentYear = new Date().getFullYear();
import Facebook from "../assets/icons/Facebook.astro";
import Instagram from "../assets/icons/Instagram.astro";
---

<div class="mx-auto max-w-screen-xl overflow-hidden px-4 py-12 sm:px-6 lg:px-8">
  <div class="mt-8 flex justify-center space-x-4">
    {/* Facebook link */}
    <a
      href="https://www.facebook.com/Flaviasweets/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-400 hover:text-gray-500"
    >
      <span class="sr-only">Facebook</span>
      <Facebook class="w-6 h-6" />
    </a>

    {/* Instagram link */}
    <a
      href="https://www.instagram.com/flavias_sweets/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-400 hover:text-gray-500"
    >
      <span class="sr-only">Instagram</span>
      <Instagram class="w-6 h-6" />
    </a>
  </div>

  {/* Dynamic Year */}
  <p class="mt-4 text-center text-base leading-6 text-gray-400">
    © {currentYear} Flavia's Sweets. All rights reserved.
  </p>
</div>
