<div class="px-12 mx-auto max-w-7xl xl:pt-20">
  <div class="w-full mx-auto text-left md:w-11/12 md:text-center">
    <h1
      class="mb-8 text-4xl font-extrabold leading-none tracking-normal text-gray-900 md:text-6xl md:tracking-tight">
      <span>Cherished</span>
      <span class="inline text-pink-400">Confections</span>
    </h1>
    <p class="px-0 mb-8 text-lg text-gray-600 md:text-xl lg:px-24">
      Celebrate with our deliciously crafted sweets, perfect for creating
      memories that last a lifetime. Uncover the secret to unforgettable
      parties!
    </p>
    <div class="mb-4 space-x-0 md:space-x-2 md:mb-8">
      <a
        href="/contact"
        class="inline-flex items-center justify-center w-full px-6 py-3 mb-2 text-lg text-white bg-pink-400 hover:bg-pink-500 rounded-2xl sm:w-auto sm:mb-0">
        Get Started
      </a>
      <a
        href=""
        class="inline-flex items-center justify-center w-full px-6 py-3 mb-2 text-lg bg-gray-100 rounded-2xl sm:w-auto sm:mb-0">
        Learn More
      </a>
    </div>
  </div>
</div>
