---
import { fetchInstagramPosts } from '../utils/instagram.js';

interface Post {
  media_type: string;
  permalink: string;
  video_url?: string;
  caption?: string;
  thumbnail_url?: string;
  media_url: string;
}

const numberOfPosts = 12;
const posts: Post[] = await fetchInstagramPosts(numberOfPosts);
---

<div class="px-12 mx-auto max-w-7xl xl:pt-20">
  <div class="w-full mx-auto text-left md:w-11/12 md:text-center">
    <section class="grid grid-cols-3 gap-4">
      {
        posts.map((post: Post) => (
          <a
            href={post.permalink}
            target="_blank"
            rel="noopener noreferrer"
            class="w-full h-0 pb-[100%] relative">
            {post.media_type === 'VIDEO' ? (
              <video
                width="100%"
                height="100%"
                src={post.video_url}
                class="absolute inset-0 w-full h-full object-cover"
                controls
                preload="metadata"
                poster={post.thumbnail_url || post.media_url}
                style="object-fit: cover;"
              />
            ) : (
              <img
                width="100%"
                height="100%"
                src={post.media_url}
                alt={
                  post.caption
                    ? post.caption.substring(0, 100)
                    : 'Instagram Post'
                }
                class="absolute inset-0 w-full h-full object-cover"
              />
            )}
          </a>
        ))
      }
    </section>
  </div>
</div>
