---
import { Media } from 'accessible-astro-components';
import { fetchInstagramFeed } from './instagram-feed.js';

const posts = await fetchInstagramFeed();
---

<div class="h-screen mt-20">
  <div>
    <h1 class="text-center">Recent Creations</h1>
  </div>
  <div id="instagram-feed" class="grid grid-cols-2">
    {
      posts.map((post) => (
        <div class="p-4 md:p-6 lg:p-10">
          <Media
            src={
              post.media_type === 'IMAGE' ? post.media_url : post.thumbnail_url
            }
            alt={post.caption || ''}
          />
        </div>
      ))
    }
  </div>
</div>
