---
import { fetchInstagramPosts } from './instagram.js';

const numberOfPosts = 9;

const posts = await fetchInstagramPosts(numberOfPosts);
---

<section class="grid grid-cols-3">
  {
    posts.map((post) => (
      <a href={post.permalink} target="_blank" rel="noopener noreferrer">
        <img
          src={post.media_url}
          alt={post.caption ? post.caption.substring(0, 100) : 'Instagram Post'}
        />
      </a>
    ))
  }
</section>
