<div class="container mx-auto px-4">
  <header class="flex flex-wrap justify-center py-3 mb-4 border-b">
    <a
      href="/"
      class="flex items-center mb-3 md:mb-0 md:mr-auto text-dark no-underline">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <img class="w-12" src="/flavias-sweets.jpeg" alt="Flavia's Sweets Logo" />
      <span class="fs-4">Flavia's Sweets</span>
    </a>

    <ul class="flex space-x-2">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link px-2 py-1 text-gray-700 font-medium bg-gray-100 rounded"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link px-2 py-1 text-gray-700 font-medium hover:bg-gray-100 rounded"
          >Services</a
        >
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link px-2 py-1 text-gray-700 font-medium hover:bg-gray-100 rounded"
          >FAQs</a
        >
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link px-2 py-1 text-gray-700 font-medium hover:bg-gray-100 rounded"
          >About</a
        >
      </li>
    </ul>
  </header>
</div>
