---
import { Image } from "astro:assets";
import Star from "../assets/icons/Star.astro";
import amy from "../assets/amy.webp";
import jordan from "../assets/jordan.webp";
import chase from "../assets/chase.jpeg";

const reviews = [
  {
    name: "Amy C.",
    description:
      "I ordered a custom birthday cake from here, and it was a hit! Not only was it visually stunning, but it tasted heavenly. Their attention to detail is remarkable, and the service was friendly and helpful. Can't wait to order again for our next celebration",
    image: amy,
  },
  {
    name: "Jordan W.",
    description:
      "Ordered a custom cake for my daughter's wedding, and it was everything we hoped for. Elegant design, exquisite taste, and it became a beautiful centerpiece of the evening. Thank you for making our special day even more memorable!",
    image: jordan,
  },
  {
    name: "Chase M.",
    description:
      "Every order from here has been a delightful experience. The flavors are unique and always leave my guests impressed. Highly recommend for anyone looking for something special.",
    image: chase,
  },
];
---

<div class="pb-20">
  <h1 class="p-2 text-4xl font-bold text-center text-slate-900 xl:text-5xl">
    What our customers have to say
  </h1>
  <div
    class="p-10 mx-auto grid max-w-7xl grid-cols-1 justify-items-center gap-10 sm:grid-cols-3"
  >
    {
      reviews.map((review) => (
        <div class="flex flex-col items-center justify-center my-2 text-center">
          <div>"{review.description}"</div>
          <div class="flex items-center justify-center mt-4 space-x-4">
            <Image
              src={review.image}
              alt="customer photo"
              class="object-cover w-20 h-20 rounded-full"
            />
            <div>
              <p class="font-semibold text-gray-900">{review.name}</p>
              <div class="flex text-orange-300">
                <Star />
                <Star />
                <Star />
                <Star />
                <Star />
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
