---
import Star from "../assets/icons/Star.astro";
const reviews = [
  {
    name: "Amy C.",
    description:
      "I ordered a custom birthday cake from here, and it was a hit! Not only was it visually stunning, but it tasted heavenly. Their attention to detail is remarkable, and the service was friendly and helpful. Can't wait to order again for our next celebration",
    image:
      "https://images.pexels.com/photos/1102341/pexels-photo-1102341.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
  {
    name: "Jordan W.",
    description:
      "Ordered a custom cake for my daughter's wedding, and it was everything we hoped for. Elegant design, exquisite taste, and it became a beautiful centerpiece of the evening. Thank you for making our special day even more memorable!",
    image:
      "https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
  {
    name: "Chase M.",
    description:
      "Every order from here has been a delightful experience. The flavors are unique and always leave my guests impressed. Highly recommend for anyone looking for something special.",
    image:
      "https://images.pexels.com/photos/769745/pexels-photo-769745.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1",
  },
];
---

<div class="pb-20">
  <h1 class="p-2 text-center text-4xl font-bold text-slate-900 xl:text-5xl">
    What our customers have to say
  </h1>
  <div
    class="mx-auto grid max-w-7xl grid-cols-1 justify-items-center gap-10 p-10 sm:grid-cols-3"
  >
    {
      reviews.map((review) => (
        <div class="my-2 flex flex-col items-center justify-center text-center">
          <div>"{review.description}"</div>
          <div class="mt-4 flex items-center justify-center space-x-4">
            <img
              src={review.image}
              alt=""
              class="h-20 w-20 rounded-full object-cover"
            />
            <div>
              <p class="font-semibold text-gray-900">{review.name}</p>
              <div class="flex text-orange-300">
                <Star />
                <Star />
                <Star />
                <Star />
                <Star />
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
