---
import { Picture } from '@astrojs/image/components';

import { fetchIndividualPost } from '../utils/instagram.js';
const postId = '18181813981252175';
const post = await fetchIndividualPost(postId);
const imageURL = post.media_url;
---

<section class="md:w-11/12 mx-auto container max-w-7xl">
  <div class="flex flex-wrap p-8">
    <div class="w-full max-w-md lg:w-4/12 lg:mr-8 mt-6 lg:my-0 mb-10">
      <Picture
        class="object-cover object-center mx-auto rounded-lg shadow-2xl"
        src={post.media_url}
        alt={post.caption}
        width={600}
        widths={[600, 1200]}
        aspectRatio={'1:1'}
      />
    </div>
    <div class="w-full lg:w-7/12 p-2">
      <h1
        class="mb-8 text-4xl font-bold leading-none tracking-tighter lg:text-5xl">
        Party planning woes? We've got you covered!
      </h1>
      <p class="mb-2 text-base leading-relaxed text-left">
        <span class="font-bold">The Struggle is Real:</span>
        Finding the perfect, standout dessert for your party is tough. Hours spent
        searching for the right design, flavor, and theme can be overwhelming.
      </p>
      <p class="mb-2 text-base leading-relaxed text-left">
        <span class="font-bold">The Reality:</span>
        Organizing a successful event is hard enough without worrying about a disappointing
        dessert. But, custom creations can be costly and risky.
      </p>
      <p class="mb-2 text-base leading-relaxed text-left">
        <span class="font-bold">Stress no more!</span>
        Flavia's Sweets crafts perfect desserts, leaving your guests amazed. Our
        custom party treat service simplifies your life and guarantees a hit event.
      </p>
    </div>
  </div>
</section>
