---
export interface Props {
  title: string;
}

import "@fontsource/inter";
import "@fontsource/dancing-script";
import ReactNav from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
const makeTitle = title ? title + " | " + "Flavia's Sweets" : "Flavia's Sweets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/flavias-sweets-nobg.png" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {makeTitle}
    </title>
  </head>
  <body class="bg-neutral-50">
    <!-- <Nav /> -->
    <ReactNav />
    <slot />
    <Footer />
    <style is:global>
      body {
        font-family: "Inter";
      }
      header span {
        font-family: "Dancing Script";
      }
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }

      summary::-webkit-details-marker {
        display: none;
      }
    </style>
  </body>
</html>
