---
export interface Props {
  title: string;
}

import ReactNav from '../components/ReactNav';
import Footer from '../components/Footer';

const { title } = Astro.props;
const makeTitle = title ? title + ' | ' + "Flavia's Sweets" : "Flavia's Sweets";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {makeTitle}
    </title>
  </head>
  <body class="bg-neutral-100">
    <!-- <Nav /> -->
    <ReactNav client:load />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
