---
export interface Props {
  title: string;
}

import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title ? title + ' | ' + "Flavia's Sweets" : "Flavia's Sweets"}
    </title>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
  }
  main {
    margin: auto;
    padding: 1.5rem;
  }
  html {
    font-family: system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
