---
import Layout from '@layouts/Layout.astro';

const { frontmatter } = Astro.props;
const { title } = frontmatter;
---

<Layout title="About">
  <section class="mx-auto container">
    <div
      class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
      <div class="flex flex-wrap items-center mx-auto">
        <div
          class="mx-auto prose prose-lg max-w-4xl prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 prose-img:rounded-md prose-img:shadow-lg mt-8">
          <slot />
        </div>
      </div>
    </div>
  </section>
</Layout>
